<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
CS6501 - MACHINE LEARNING AND APPLICATIONS
#**Business Analytics - MSc**
ET5003 - MACHINE LEARNING APPLICATIONS 
##***Annual Repeat***
###Instructor: Enrique Naredo

###RepMLA_Lab-1.10

Student ID: 

Student name:

# Pandas exercise

In [ ]:
import pandas as pd

# Problem 16

Compute the [euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between series (points) p and q, without using a formula from a library.

In [ ]:
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
'''
Desired Output

18.165
'''

# Problem 17 

Rename a specific columns in a dataframe?

In [ ]:
# input
# Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.
cars93 = pd.read_csv("datasets/Cars93.csv", index_col=0)#load the dataset
print(cars93.head())

'''
Desired Output

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
        'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
        'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
        'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
        'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
        'Make'],
       dtype='object')
'''

  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
1        Acura  Integra    Small       12.9   15.9       18.8        25
2        Acura   Legend  Midsize       29.2   33.9       38.7        18
3         Audi       90  Compact       25.9   29.1       32.3        20
4         Audi      100  Midsize       30.8   37.7       44.6        19
5          BMW     535i  Midsize       23.7   30.0       36.2        22

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
1           31                None      Front  ...          5     177
2           25  Driver & Passenger      Front  ...          5     195
3           26         Driver only      Front  ...          5     180
4           26  Driver & Passenger      Front  ...          6     193
5           30         Driver only       Rear  ...          4     186

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
1        102     68           37           26.5          11.0    2705
2        115     71           38           30.0          15.0    3560
3        102     67           37           28.0          14.0    3375
4        106     70           37           31.0          17.0    3405
5        109     69           39           27.0          13.0    3640

    Origin           Make
1  non-USA  Acura Integra
2  non-USA   Acura Legend
3  non-USA        Audi 90
4  non-USA       Audi 100
5  non-USA       BMW 535i

[5 rows x 27 columns]

"\nDesired Output\n\nIndex(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',\n        'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',\n        'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',\n        'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',\n        'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',\n        'Make'],\n       dtype='object')\n"

# Problem 18

Check if a dataframe has any missing values?

In [ ]:
# input
df = pd.read_csv("datasets/Cars93.csv")
print(df.columns)
df['Luggage.room'].iloc[87:]# the NaN is an example of missing value in the column 'Luggage.room'

Index(['Unnamed: 0', 'Manufacturer', 'Model', 'Type', 'Min.Price', 'Price',
       'Max.Price', 'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Man.trans.avail', 'Fuel.tank.capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room',
       'Weight', 'Origin', 'Make'],
      dtype='object')

87    10.0
88     NaN
89    14.0
90    15.0
91    14.0
92    15.0
Name: Luggage.room, dtype: float64

# Problem 19

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

In [ ]:
# input
df = pd.read_csv("datasets/Cars93.csv")

# Problem 20

Replace missing values in Luggage.room columns with the column mean.

In [ ]:
# input
df = pd.read_csv("datasets/Cars93.csv")
df[["Luggage.room"]]

    Luggage.room
0           11.0
1           15.0
2           14.0
3           17.0
4           13.0
..           ...
88           NaN
89          14.0
90          15.0
91          14.0
92          15.0

[93 rows x 1 columns]