<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
CS6501 - MACHINE LEARNING AND APPLICATIONS
#**Business Analytics - MSc**
ET5003 - MACHINE LEARNING APPLICATIONS 
##***Annual Repeat***
###Instructor: Enrique Naredo

###RepMLA_Lab-1.8

Student ID: 0427845

Student name: alison O'Connor

# Pandas exercise

In [1]:
import pandas as pd
import numpy as np

# Problem 6
Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Notes:
Do you know what percentile and median are? If no, see  <a href="https://en.wikipedia.org/wiki/Percentile">percentile</a>

In [2]:
# input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))
ser.describe()

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64

# Problem 7 

Calculate the frequency counts of each unique value ser.

In [3]:
# input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

f    6
d    6
c    4
e    4
a    4
b    3
h    3
dtype: int64

# Problem 8

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [4]:
# input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
# print(ser)
##get top two frequency values in a list
freq=ser.value_counts().iloc[0:2].index.to_list()
# print(freq)
##REDUCE DF TO VALUES THAT NEED TO BE REPLACED
replace=ser.copy()[~ser.isin(freq)]
# print(replace)
##REPLACE VALUES
ser.replace(replace.values, 'OTHER', inplace=True)
print(ser)

0         3
1         2
2     OTHER
3         2
4         3
5     OTHER
6     OTHER
7         2
8         2
9         3
10    OTHER
11        3
dtype: object

# Problem 9
Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [5]:
# input
ser = pd.Series(np.random.random(20))
ser

#Solution  is provided:
pd.qcut(ser, q = 10)
# we can also pass labels
pd.qcut(ser, q = [0, .10, .20, .30, .40, .50, .60, .70, .80, .90, 1], labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0     6th
1    10th
2     8th
3     3rd
4     9th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

# Problem 10

From ser, extract the items at positions in list pos.

In [6]:
# input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

a=ser.iloc[pos]
a

0     a
4     e
8     i
14    o
20    u
dtype: object