<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
CS6501 - MACHINE LEARNING AND APPLICATIONS
#**Business Analytics - MSc**
ET5003 - MACHINE LEARNING APPLICATIONS 
##***Annual Repeat***
###Instructor: Enrique Naredo

###RepMLA_Lab-1.10

Student ID: 0427845

Student name: Alison O'connor

# Pandas exercise

In [5]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt

# Problem 16

Compute the [euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between series (points) p and q, without using a formula from a library.

In [10]:
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
'''
Desired Output

18.165
'''

dist=np.sqrt(np.sum((p-q)^2))
print(dist)

0.0

# Problem 17 

Rename a specific columns in a dataframe?

In [ ]:
# input
# Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.
cars93 = pd.read_csv("Cars93.csv", index_col=0)#load the dataset
print(cars93.head())

'''
Desired Output

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
        'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
        'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
        'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
        'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
        'Make'],
       dtype='object')
'''

# Problem 18

Check if a dataframe has any missing values?

In [ ]:
# input
df = pd.read_csv("datasets/Cars93.csv")
print(df.columns)
df['Luggage.room'].iloc[87:]# the NaN is an example of missing value in the column 'Luggage.room'

# Problem 19

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

In [ ]:
# input
df = pd.read_csv("datasets/Cars93.csv")

# Problem 20

Replace missing values in Luggage.room columns with the column mean.

In [ ]:
# input
df = pd.read_csv("datasets/Cars93.csv")
df[["Luggage.room"]]