<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
CS6501 - MACHINE LEARNING AND APPLICATIONS
#**Business Analytics - MSc**
ET5003 - MACHINE LEARNING APPLICATIONS 
##***Annual Repeat***
###Instructor: Enrique Naredo

###RepMLA_Lab-1.9

Student ID: 

Student name:

# Pandas exercise

In [ ]:
import pandas as pd

# Problem 11

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [ ]:
# input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Problem 12

Get the positions of items of ser2 in ser1 as a list.

In [ ]:
# input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Problem 13

Compute the mean squared error of truth and pred series.

Notes:
mean squared error is defined <a href="https://en.wikipedia.org/wiki/Mean_squared_error#Predictor">here</a>

In [ ]:
# input
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

# Problem 14 

Convert a series of date-strings to a timeseries

In [ ]:
# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])


'''
Desired Output

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
'''

# Problem 15

Get the day of month, week number, day of year and day of week from ser.

# Problem 11

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [ ]:
# input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Problem 12

Get the positions of items of ser2 in ser1 as a list.

In [ ]:
# input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Problem 13

Compute the mean squared error of truth and pred series.

Notes:
mean squared error is defined <a href="https://en.wikipedia.org/wiki/Mean_squared_error#Predictor">here</a>

In [ ]:
# input
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

# Problem 14 

Convert a series of date-strings to a timeseries

In [ ]:
# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])


'''
Desired Output

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
'''

# Problem 15

Get the day of month, week number, day of year and day of week from ser.

In [ ]:
# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

'''
Desired output

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
'''